/* You can add global styles to this file, and also import other style files */
body{
    background-color: azure;
    margin: 0;
}
@font-face {
    font-family: persian;
    src: url('/fonts/persian.woff2');  
}
*{
    font-family: persian;
}
.alert{
    background-color: rgb(243, 196, 196);
    border: 1px lightcoral;
    padding: 1em;
    border-radius: 0.2em;
    margin: 1em;
    text-align: center;
}